<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP Link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/historia.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/icono.png" />
    <!--BOOTSTRAP Link-->


    <title>Historia del ajedrez</title>
</head>

<body>
    <header class="encabezado">
        <nav class="navb containerr" id="nav">
            <img class="milogo" src="../static/img/logoa.png">

            <ul class="links">

                <li class="item">
                    <a href="../../index.html" class="link">Inicio</a>
                </li>

                <li class="item">
                    <a href="../templates/historia.html" class="link">Historia</a>
                </li>

                <li class="item">
                    <a href="../templates/jugadores.html" class="link">Mejores Jugadores</a>
                </li>

                <li class="item">
                    <a href="../templates/comojugar.html" class="link">Cómo se juega</a>
                </li>

                <li class="item">
                    <a href="../templates/campeonatos.html" class="link">Campeonatos Mundiales</a>
                </li>

            </ul>

            <a href="#nav" class="burger">
                <img src="../static/img/menu.svg" class="icon">
            </a>

            <a href="#" class="close">
                <img src="../static/img/close.svg" class="icon">
            </a>
        </nav>
    </header>
    <section class="hero">
        <div class="hero_container conte">
            <div class="hero_textos">
                <h1 class="hero_titulo">EL AJEDREZ Y SU HISTORIA A NIVEL MUNDIAL</h1>
                <p class="heroparrafo">«El ajedrez es un juego por su forma, un arte por su contenido y una ciencia por
                    su dificultad. Pero si usted aprende a jugar bien, sentirá entonces una gran alegría».</p>
            </div>

            <video class="hero_video" src="../static/img/ajedrez.mp4" autoplay playinline loop muted
                preload="auto"></video>
        </div>
    </section>

    <main class="principal">
        <section class="ajedrecista conte">
            <div class="ajedrecista_contenedor">
                <img src="../static/img/sissa.jpg" class="ajedrecista_img">
                <h2 class="ajedrecista_nombre">Brahmán Sissa</h2>
                <p class="ajedrecista_tag">Filosofo, Sabio, originario de la India Siglo VI</p>
                <p class="ajedrecista_parrafo">El inventor del ajedrez es el sabio Sissa, en la India, durante el siglo
                    VI. Es difícil saber con exactitud qué persona inventó el ajedrez, pero se tiene como más aceptada
                    esta
                    teoría: En la India del siglo VI el filósofo y brahmán Sissa, hijo de Dagir, inventó para recreo y
                    entretenimiento de su señor (el rey Belkib) un juego que llamó chaturanga o «juego de las cuatro
                    partes».</p>
            </div>
        </section>

        <section class="acerca conte">
            <div class="acerca-origen">
                <h2 class="acerca-title title--border">Origen del ajedrez</h2>
                <p class="acerca-parrafo">La principal leyenda sobre el origen del ajedrez habla de un rey de la India
                    llamado Belkib. Buscando
                    acabar con su aburrimiento, ofreció una recompensa a cambio de alguna distracción. Se dice que fue
                    el sabio Sissa quien le propuso el ajedrez, un juego que comprendía una pequeña guerra sobre un
                    tablero de madera.
                </p>
                <p class="acerca-parrafo">El rey, entusiasmado, le ofreció lo que quisiera como recompensa. A cambio
                    Sissa le pidió un grano de trigo sobre el primer recuadro del tablero de ajedrez. Luego, dos sobre
                    el segundo y así sucesivamente, doblando cada vez la cantidad. Al rey le pareció una cantidad
                    modesta y accedió, pero cuando empezaron los cálculos se descubrió que en la última casilla habría
                    que depositar más de nueve billones de granos de trigo.
                </p>
            </div>
            <figure class="acerca-pic">
                <img src="../static/img/caballo.png" class="acerca-img">
            </figure>
        </section>

        <section class="ajedrecista conte">
            <h2 class="ajedrecista_nombre">Luis Ramirez de Lucena</h2>
            <p class="ajedrecista_parrafo">Escribio el libro de ajedrez más antiguo conocido, se llama <span>Repetición
                    de amores y arte
                    de ajedrez </span>. Ramirez primer maestro reconocido, y se publicó en Salamanca en 1497.</p>
            </div>
        </section>

        <section class="acerca conte">
            <div class="acerca-origen">
                <h2 class="acerca-title title--border">Evolución del ajedrez</h2>
                <p class="acerca-parrafo">Respecto a la evolución y expansión del ajedrez, 1.000 años después de la
                    primera mención de un juego parecido en el libro sagrado hindú Mahabarata. Algunos autores creen
                    que
                    el ajedrez se desarrolla y evoluciona en la China o que recibe una fuerte influencia por la
                    cercanía
                    de sus fronteras. En el año 600, el juego se propaga Rusia y también a Persia, donde se llama
                    chatrang, y los árabes lo copian como shatranj.
                </p>
                <p class="acerca-parrafo">
                    El primer torneo moderno de ajedrez se celebra en 1851 en Londres y es ganado por el alemán
                    Adolf
                    Anderssen contra el estonio Lionel Kieseritzky en la llamada “partida Inmortal».
                    El primer campeón del mundo fue el maestro Wilhem Steinitz, austriaco nacido en Praga de
                    ascendencia
                    judía, que derrotó al maestro alemán Johannes Zukertort en 1886. Conservó el titulo hasta 1894,
                    en
                    que fue derrotado por el matemático alemán Emanuel Lasker, que mantuvo el titulo 27 años, nuevo
                    récord, hasta que en 1921 se lo arrebató el cubano Raúl Capablanca.
                </p>
            </div>
            <figure class="acerca-pic">
                <img src="../static/img/lvsw.jpg" class="acerca-img" id="acerca-img2">
            </figure>
        </section>

        <section class="galeria-retro">
            <div class="conten conte">
                <article class="fotos-ajedrez">
                    <img src="../static/img/primerm.jpg">
                    <div class="hover-galeria">
                        <h2>Wilhem Steinitz</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="../static/img/laskar.jpg">
                    <div class="hover-galeria">
                        <h2>Emanuel Lasker</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="../static/img/petrosian.jpg">
                    <div class="hover-galeria">
                        <h2>Tigran Petrosian</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="../static/img/capa.jpg">
                    <div class="hover-galeria">
                        <h2>Raúl Capablanca</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="../static/img/caruana.jpg">
                    <div class="hover-galeria">
                        <h2>Fabiano Caruana</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="../static/img/carlsen.jpg">
                    <div class="hover-galeria">
                        <h2>Magnus Carlsen</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="../static/img/ding.jpg">
                    <div class="hover-galeria">
                        <h2>Ding Liren</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="../static/img/giri.jpg">
                    <div class="hover-galeria">
                        <h2>Anish Giri</h2>
                    </div>
                </article>
            </div>

        </section>

    </main>
    <footer>
        <img src="../static/img/logora.png" class="logora" alt="">
        <div class="social-icon-container">
            <a href="" class="social-icon"></a>
            <a href="" class="social-icon"></a>
            <a href="" class="social-icon"></a>
            <a href="" class="social-icon"></a>
        </div>
        <ul class="footer-menu-container">
            <li class="menu-item">Raymond García</li>
            <li class="menu-item">Project 0</li>
            <li class="menu-item">WEB50 Managua - Nicaragua</li>
        </ul>
        <span class="copyright">&copy;RGarcía - WEB50, Managua - Nicaragua 2023</span>
    </footer>
</body>

</html>