//VARIABLES
$color-primario: #444CF7;
$color-titulo: #000;
$alinear-titulo: left;
$padding-contenedor: 10px 0;
$width-contenedor: 90%;
$max-width-contenedor: 1200px;
$heigth-wave: 18em;



.conte {
    width: $width-contenedor;
    max-width: $max-width-contenedor;
    padding: $padding-contenedor;
    margin: 0 auto;

    video {
        width: 100%;
    }
}

/* HERO */
.hero {
    height: 100vh;
    min-width: 500px;
    position: cover;
    background-color: #000;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.hero_container {
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;
    color: #fff;

    .hero_video {
        min-width: 95%;
        width: 650px;
        height: 650px;
    }

    p {
        font-size: 18px;
    }
}



/* PRINCIPAL */
.principal {
    padding-top: 100px;
}

.title--border::after {
    content: "";
    display: block;
    width: 150px;
    margin-top: 20px;
    height: 4px;
    background-color: $color-primario;
}

/* INSTRUCTOR */
.ajedrecista {
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding: 30px 0 30px;

    .ajedrecista_contenedor {
        width: 70%;
        margin: 0 auto;
    }

    .ajedrecista_nombre {
        margin: 20px 0;
    }

    .ajedrecista_tag {
        font-weight: 700;
        color: $color-primario;
        margin-bottom: 20px;
    }

    .ajedrecista_parrafo {
        text-align: center;
        line-height: 1.5;
        font-style: italic;
        color: #615A5A;
        font-size: 18px;
    }

    .ajedrecista_parrafo span:first-child {
        color: #000;
        font-size: 18px;
        font-weight: 700;
    }

    .ajedrecista_img {
        width: 250px;
        height: 250px;
        border-radius: 20%;
        object-fit: cover;
        object-fit: top;
    }
}

/* ACERCA */
.acerca {
    display: grid;
    grid-template-columns: 5fr 4fr;
    place-items: center;
    padding: 150px 0;


    .acerca-origen {
        width: 90%;
    }

    .acerca-parrafo {
        margin: 20px 0;
        line-height: 1.5;
        font-weight: 300;
        text-align: justify;
        font-size: 1.2rem;
    }

    .acerca-parrafo::first-letter {
        color: #e78009;
        font-size: 35px;
        font-weight: 700;
    }

    .acerca-pic {
        text-align: center;
    }

    .acerca-img {
        width: 75%;
    }

    #acerca-img2 {
        width: 450px;
        height: 350px;
        border-radius: 1%;
    }
}

/* GALERIA RETRO  Y ACTUAL*/

.conten {
    width: 100%;
    margin: auto;
    padding-bottom: 10rem;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;

    }
}


.fotos-ajedrez {
    margin: 5px;
    position: relative;

    .hover-galeria{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        transform: scale(0);
        background: hsla(0, 0%, 20%, 0.811);
        transition: transform .5s;
        display: flex;
        justify-content: center;
        align-items: center ;

        h2{
            color: #fff;
            font-style: italic;
            font-size: 1.5rem;
        }
    }
}
.fotos-ajedrez:hover .hover-galeria{
    transform: scale(1);
}

.galeria-retro .conten {
    display: grid;
}




/* GALERIA RESPONSIVE */
@media(min-width:520px) {
    .galeria-retro {
        .conten {
            grid-template-columns: repeat(2, 50%);
        }
    }
}

@media(min-width:767px) {
    .galeria-retro {
        .conten {
            grid-template-columns: repeat(3, 33.3%);
        }
    }
}

@media(min-width:1024px) {
    .galeria-retro {
        .conten {
            grid-template-columns: repeat(4, 25%);
        }
    }
}

/* FIN GALERIA RETRO */

/* MEDIA SECTION */
@media (max-width:325px) {
    .ajedrecista_contenedor {
        .ajedrecista_img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width:377px) {

    /* HERO */
    .hero {
        height: 100vh;
        min-width: 100px;
        position: cover;
        padding: 20px 0 50px 0;
        background-color: #000;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;

        .hero_container {
            display: flex;
            flex-direction: column;
        }

        .hero_video {
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 18px;
        }
    }

    .acerca {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .acerca-pic #acerca-img2 {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media (max-width:427px) {

    /* HERO */
    .hero {
        height: 100vh;
        min-width: 100px;
        position: cover;
        padding: 20px 0 50px 0;
        background-color: #000;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;

        .hero_container {
            display: flex;
            flex-direction: column;
        }

        .hero_video {
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 18px;
        }
    }


    .acerca {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .acerca-pic #acerca-img2 {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media (max-width:770px) {
    .hero {
        height: 100vh;
        min-width: 100px;
        position: cover;
        padding: 20px 0 50px 0;
        background-color: #000;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;

        .hero_container {
            display: flex;
            flex-direction: column;
        }

        .hero_video {
            width: 200px;
            height: 200px;
            margin: 0;
            padding: 0;
        }

        .hero_textos .hero_titulo{
            text-align: center;
            font-size: 20px;
        }
        .hero_textos .heroparrafo {
           font-size: 18px;
           text-align: center;
        }
    }

        .acerca {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .acerca-pic #acerca-img2 {
            width: 85%;
        }
    
}

@media (max-width:908px) {


    .hero_video {
        max-width: 100%;
        height: auto;
    }

    .hero {
        max-width: 100%;
        height: auto;
    }

    .hero_container {

        max-width: 100%;
        height: auto;
        display: grid;
        height: 100%;
        grid-template-columns: 3fr 2fr;
        place-items: center;
        gap: 20px;
        color: #fff;

        p {
            font-size: 10px;
        }

        h1 {
            font-size: 15px;
        }
    }

}