<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP Link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!--FIN BOOTSTRAP Link-->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/historia.css" rel="stylesheet">
    <link href="../static/css/campeonatos.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/icono.png" />

    <title>Campeonatos Mundiales</title>
</head>

<body>
    <header class="encabezado">
        <nav class="navb containerr" id="nav">
            <img class="milogo" src="../static/img/logoa.png" href="../templates/index.html">

            <ul class="links">

                <li class="item">
                    <a href="../index.html" class="link">Inicio</a>
                </li>

                <li class="item">
                    <a href="../templates/historia.html" class="link">Historia</a>
                </li>

                <li class="item">
                    <a href="../templates/jugadores.html" class="link">Mejores Jugadores</a>
                </li>

                <li class="item">
                    <a href="../templates/comojugar.html" class="link">Cómo se juega</a>
                </li>

                <li class="item">
                    <a href="../templates/campeonatos.html" class="link">Campeonatos Mundiales</a>
                </li>

            </ul>

            <a href="#nav" class="burger">
                <img src="../static/img/menu.svg" class="icon">
            </a>

            <a href="#" class="close">
                <img src="../static/img/close.svg" class="icon">
            </a>
        </nav>
    </header>
    <div class="card mb-3">
        <section class="carusel">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../static/img/baku.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                            <p>Baku 2016</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../static/img/batumi.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                            <p>Georgia 2018</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 h-auto" src="../static/img/R.png" alt="Third slide">
                       
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 " src="../static/img/buda.jpg" alt="Forth slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

    </div>
    <section class="info-campeonatos conte">
        <div class="container conte">
            <div class="row">
                <div class="col">
                    <img src="../static/img/logo-fide.png" class="logofide">
                </div>
                <div class="col">
                    <p><span>La Federación Internacional de Ajedrez (Fédération Internationale des Échecs o FIDE)</span>
                        es el
                        organismo rector del ajedrez internacional. También se le conoce comúnmente como la Federación
                        Mundial de Ajedrez. La organización se fundó en 1924 en París, Francia, y desde entonces se ha
                        expandido por todo el mundo.

                        Hay varias suborganizaciones que forman parte de la FIDE, como el Consejo Mundial de Ajedrez
                        (CMA), la Comisión de Mujeres y Ajedrez, el Campeonato Mundial de Ajedrez de Escuelas y Colegios
                        y la Comisión Internacional de Educación Primaria y Alfabetización.</p>
                </div>
            </div>
    </section>
    <section class="info-campeonatos conte">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>El Campeonato Mundial es la competición más importante de ajedrez. Se celebraba cada año y
                        consistía en un torneo de ocho jugadores. El ganador del torneo es reconocido como el Campeón
                        del Mundo. En el pasado, ha habido muchos sistemas diferentes para seleccionar al Campeón del
                        Mundo. Desde 1886 hasta 1946, el Campeón del Mundo se determinaba mediante un torneo de los
                        principales jugadores. La primera vez que se concedió el título a un ajedrecista fue en 1886,
                        cuando el maestro danés Wilhelm Steinitz se convirtió en el primer Campeón del Mundo oficial. La
                        última vez que se concedió el título a un ajedrecista estadounidense fue en 1972, cuando el
                        campeón mundial ruso Boris Spassky perdió ante el campeón mundial estadounidense Bobby Fischer,
                        como consecuencia de la separación de las federaciones. Los campeones mundiales más recientes
                        son Vladimir Kramnik, Anand Viswanathan y en repetidas ocasiones Magnus Carlsen.</p>
                </div>
                <div class="col">
                    <img src="../static/img/trofeo.jpg" class="trofeo-img">
                </div>
            </div>
    </section>
    <section class="info-campeonatos conte">
        <div class="container conte">
            <div class="row">
                <div class="col">
                    <img src="../static/img/toreno.png" class="torneo-img">
                </div>
                <div class="col">
                    <p>El Campeonato Mundial de Ajedrez y los demás torneos de la FIDE son las competiciones más
                        importantes del ajedrez. Hay otros eventos importantes de la FIDE, como los Campeonatos
                        Mundiales Femeninos, los Campeonatos Mundiales Junior, los Campeonatos Mundiales Senior y la
                        Olimpiada. El Campeonato Mundial Junior está abierto a todos los jugadores menores de 21 años.
                        El Campeonato Mundial Senior está abierto a todos los jugadores mayores de 50 años. La Olimpiada
                        es un torneo que se celebra cada dos años para los miembros del COI.</p>
                </div>
            </div>
    </section>
    <section class="tabla-olimpiadas conte">
        <div class="table-responsive conte">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Evento</th>
                        <th scope="col">Sede</th>
                        <th scope="col">Oro</th>
                        <th scope="col">Plata</th>
                        <th scope="col">Bronce</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1924</th>
                        <th>1.ª Olimpiada no oficial de Ajedrez
                            Olimpiada de Ajedrez (individual)</th>
                        <th>París, Francia</th>
                        <th>Republica Checa 31</th>
                        <th>Hungría 30</th>
                        <th>Suiza 29</th>
                    </tr>
                    <tr>
                        <th scope="row">2002</th>
                        <th>35ª Olimpiada de Ajedrez</th>
                        <th>Bled, Eslovenia</th>
                        <th>Rusia 38½</th>
                        <th>Hungría 37½</th>
                        <th>Armenia 35</th>
                    </tr>
                    <tr>
                        <th scope="row">2004</th>
                        <th>36ª Calviá, España</th>
                        <th>Bled, Eslovenia</th>
                        <th>R Ucrania 39½</th>
                        <th>Rusia 36½</th>
                        <th>Armenia 36½</th>
                    </tr>
                    <tr>
                        <th scope="row">2006</th>
                        <th>37ª Olimpiada de Ajedrez</th>
                        <th>Turín, Italia</th>
                        <th>Armenia 36</th>
                        <th>China 34</th>
                        <th>Estados Unidos 33</th>
                    </tr>
                    <tr>
                        <th scope="row">2008</th>
                        <th>38ª Olimpiada de Ajedrez</th>
                        <th>Dresde, Alemania</th>
                        <th>Georgia 18</th>
                        <th>Ucrania 18</th>
                        <th>Estados Unidos 17</th>
                    </tr>
                    <tr>
                        <th scope="row">2010</th>
                        <th>39ª Olimpiada de Ajedrez</th>
                        <th>Khanty-Mansiysk, Rusia</th>
                        <th>Rusia 22</th>
                        <th>China 18</th>
                        <th>Georgia 16</th>
                    </tr>
                    <tr>
                        <th scope="row">2014</th>
                        <td>41ª Olimpiada de Ajedrez</td>
                        <td>Tromsø, Noruega</td>
                        <td>China 19</td>
                        <td>Hungría 17</td>
                        <td>India 17</td>
                    <tr>
                        <th scope="row">2016</th>
                        <td>42ª Olimpiada de Ajedrez</td>
                        <td>Bakú, Azerbaiyán</td>
                        <td>Estados Unidos 20</td>
                        <td>Ucrania 20</td>
                        <td>Rusia 18</td>
                    </tr>
                    <tr>
                        <th scope="row">2018</th>
                        <td>43ª Olimpiada de Ajedrez</td>
                        <td>Batumi, Georgia</td>
                        <td>China 18</td>
                        <td>Estados Unidos 18</td>
                        <td>Rusia 18</td>
                    </tr>
                    <tr>
                        <th scope="row">2022</th>
                        <td>44° Olimpíada de Ajedrez</td>
                        <td>Chennai, India</td>
                        <td>Uzbekistán 19</td>
                        <td>Armenia 19</td>
                        <td>IndiaII 18</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class=" olimp conte">
        <div class="row" id="juga">
            <div class="col-sm-4">
                <img class="card-img-top" src="../static/img/india.jpg" alt="imagen">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Olimpiada en Chennai</h5>
                        <p class="card-text" style="text-align: justify;">La Olimpiada de Ajedrez más multitudinaria de
                            la historia se ha celebrando en Chennai del 29 de julio al 9 de agosto del año 2022. Un
                            récord de 188
                            equipos en la categoría abierta y 162 en la femenina luchan por las medallas colectivas e
                            individuales. El equipo de Estados Unidos es el favorito en la categoría abierta.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="../static/img/budapest.png" alt="imagen">
                    <div class="card-body">
                        <h5 class="card-title">Proxima Olimpiada de Ajedrez</h5>
                        <p class="card-text">La próxima edición del Mundial de Ajedrez en Budapest 2024 promete ser
                            un evento épico que reunirá a los mejores jugadores de todo el mundo. Con una rica
                            historia en el juego del ajedrez. Budapest ofrecerá una fascinante combinación de
                            tradición y modernidad como sede
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="../static/img/R.png" alt="imagen">
                    <div class="card-body">
                        <h5 class="card-title">Batumi, Georia 2018</h5>
                        <p class="card-text" style="text-align: justify;">organizada por la Federación Internacional de
                            Ajedrez y que comprende torneos abiertos y femeninos, así como varios eventos diseñados para
                            promover el juego de ajedrez, se celebró en Batumi, Georgia, del 23 de septiembre al 6 de
                            octubre del 2018, esta es la primera Olimpiada de Ajedrez que tiene lugar en Georgia.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <img src="../static/img/logora.png" class="logora" alt="">
        <div class="social-icon-container">
            <a href="" class="social-icon"></a>
            <a href="" class="social-icon"></a>
            <a href="" class="social-icon"></a>
            <a href="" class="social-icon"></a>
        </div>
        <ul class="footer-menu-container">
            <li class="menu-item">Raymond García</li>
            <li class="menu-item">Project 0</li>
            <li class="menu-item">WEB50 Managua - Nicaragua</li>
        </ul>
        <span class="copyright">&copy;RGarcía - WEB50, Managua - Nicaragua 2023</span>
    </footer>
</body>

</html>