<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP Link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!--FIN BOOTSTRAP Link-->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/historia.css" rel="stylesheet">
    <link href="/static/css/comojugar.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/icono.png" />

    <title>Cómo Jugar</title>
</head>

<body>
    <header class="encabezado">
        <nav class="navb containerr" id="nav">
            <img class="milogo" src="/static/img/logoa.png" href="/templates/index.html">

            <ul class="links">

                <li class="item">
                    <a href="/index.html" class="link">Inicio</a>
                </li>

                <li class="item">
                    <a href="/templates/historia.html" class="link">Historia</a>
                </li>

                <li class="item">
                    <a href="/templates/jugadores.html" class="link">Mejores Jugadores</a>
                </li>

                <li class="item">
                    <a href="/templates/comojugar.html" class="link">Cómo se juega</a>
                </li>

                <li class="item">
                    <a href="/templates/campeonatos.html" class="link">Campeonatos Mundiales</a>
                </li>

            </ul>

            <a href="#nav" class="burger">
                <img src="/static/img/menu.svg" class="icon">
            </a>

            <a href="#" class="close">
                <img src="/static/img/close.svg" class="icon">
            </a>
        </nav>
    </header>
    <section class="headerC">

        <div class="textos-headerC">
            <h1>¿Hay que tener inteligencia para jugar? No, el Ajedrez hace a la gente
                inteligente.</h1>
            <h2> --Emanuel Lasker.</h2>
        </div>
    </section>
    <section class="ajedrecista conte">
        <h2 class="ajedrecista_nombre">Luis Ramirez de Lucena</h2>
        <p class="ajedrecista_parrafo">Escribio el libro de ajedrez más antiguo conocido, se llama <span>Repetición
                de amores y arte
                de ajedrez </span>. Ramirez primer maestro reconocido, y se publicó en Salamanca en 1497.</p>
        </div>
    </section>

    <section class="contenidoC conte">
        <div class="contenedor-contenidoC">
            <h2 class="tituloC">En que consiste el ajedrez</h2>
            <p class="parrafoC">
                El ajedrez es un juego de mesa que ha sido practicado durante siglos en todo el mundo. Aunque su
                objetivo principal es dar mate al rey del oponente, el ajedrez también tiene una serie de beneficios y
                aplicaciones en diversas áreas, que van desde la educación y la salud mental hasta el deporte y el
                ocio. El ajedrez es un juego de estrategia en el que dos personas se desafían frente a un tablero
                cuadriculado de 64 casillas y dos grupos de figuras, 16 para cada jugador, unas blancas y otras negras:
                un rey, una dama, dos alfiles, dos caballos, dos torres y ocho peones. El objetivo del ajedrez es
                derrocar al rey del oponente y, para ello, cada jugador debe intentar acercarse a la casilla ocupada por
                esta figura y presionar hasta que quede desprotegida y pueda decir jaque mate. Fin de la partida.
            </p>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"
                    aria-expanded="true" aria-controls="multiCollapseExample1 multiCollapseExample2">Datos
                    curiosos del Ajedrez</button>
            </p>
            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                            <ol>
                                <li>Se estima que en todo el mundo hay alrededor de 500 millones de personas que juegan
                                    al
                                    ajedrez, lo que le convierte en el juego más popular.</li>
                                <li> El juego terminaba cuando nadie podía ganar (tablas) o cuando todas las piezas
                                    (excepto el Shah) eran capturadas.</li>
                                <li>De hecho, la palabra ‘Jaque mate’ en Ajedrez proviene de la frase persa ‘Shah Mat’,
                                    que significa ‘el Rey ha muerto‘.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card card-body">
                            <ol>
                                <li value="4">Según la Fundación Estadounidense, hay
                                    169.518.829.100.544.000... formas de jugar los primeros 10 movimientos
                                    de una partida de ajedrez</li>
                                <li>El diseño de las piezas del ajedrez tal y como las conocemos hoy en día es obra del
                                    inglés Howard Staunton.</li>
                                <li>Muchos expertos afirman que el ajedrez es un juego perfecto para mejorar la memoria,
                                    muy recomendable para prevenir el alzhéimer.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="acerca conte">
            <div class="acerca-origen">
                <h2 class="acerca-title title--border">Caracteristicas</h2>
                <p class="acerca-parrafo">El ajedrez es un juego de mesa que se desarrolla sobre un tablero en el cual
                    dos personas se enfrentan por medio de piezas que pueden ser desplazadas por el mismo siguiendo una
                    serie de reglas y movimientos para lograr derrotar al rival. Sus principales características son:
                </p>
                <p class="acerca-parrafo">
                <ul class="lista">
                    <li>Es considerado como un juego científico y un deporte mental.</li>
                    <li>Se juega sobre un tablero con 64 casillas.</li>
                    <li>Es considerado como un deporte y como un juego de guerra.</li>
                    <li>Es visto como una disciplina deportiva en aproximadamente 156 países.</li>
                    <li>Es divertido y se rige por medio de reglas.</li>
                    <li>Debe ser jugado únicamente entre dos jugadores.</li>
                </ul>
                </p>
            </div>
            <figure class="acerca-pic">
                <img src="/static/img/caballo.png" class="acerca-img">
            </figure>
        </section>

        <div class="contenedor-contenidoC">
            <h2 class="tituloC">Reglas</h2>
            <p class="parrafoC">
                El tablero es un cuadrado de 64 casillas dividido en 8 filas y 8 columnas.
                Cada jugador tiene 16 piezas al comienzo: 1 rey, 1 reina, 2 torres, 2 alfiles, 2 caballos y 8 peones.
                Las filas se numeran del 1 al 8 y las columnas se etiquetan con las letras a-h.
            <p class="parrafoC">
                El objetivo es dar jaque mate al rey del oponente, lo que significa que el rey está amenazado de captura
                y no hay ningún movimiento legal para evitarlo.</p>
            </p>
        </div>
        <section class="acerca conte">
            <div class="acerca-origen">
                <h2 class="acerca-title title--border">Reglas Especiales</h2>
                <p class="acerca-parrafo">
                <ul>
                    <li>Enroque: Movimiento especial del rey y la torre. Puede ser largo o corto y solo se permite si
                        ninguna de
                        las piezas involucradas ha sido movida previamente, no hay piezas entre ellas y el rey no está
                        en
                        jaque
                        ni pasa por casillas amenazadas.</li>
                    <li>Captura al Paso: Si un peón avanza dos casillas desde su posición inicial y queda al lado de un
                        peón
                        enemigo, ese peón enemigo puede capturarlo como si solo hubiera avanzado una casilla.</li>
                    <li>Promoción del Peón: Cuando un peón llega a la última fila del tablero, se convierte en cualquier
                        pieza
                        excepto un rey. La elección generalmente es una reina.</li>
                </ul>
                </p>
            </div>
            <figure class="acerca-pic">
                <img src="/static/img/roque.png" class="acerca-img">
            </figure>
        </section>
        <section class="acerca conte">
            <div class="acerca-origen">
                <h2 class="acerca-title title--border">Situaciones Especiales</h2>
                <p class="acerca-parrafo">
                <ul>
                    <li>Ahogado: Si un jugador no tiene ningún movimiento legal y su rey no está en jaque, el juego
                        termina
                        en
                        empate por ahogado.</li>
                    <li>Regla de los 50 movimientos: Si se realizan 50 movimientos consecutivos por cada jugador sin
                        ninguna
                        captura de peón o movimiento de peón, el juego puede ser declarado empate.</li>
                    <li>Regla de los tres movimientos repetidos: Si la misma posición se repite tres veces con el mismo
                        jugador
                        en movimiento y las mismas posibilidades de enroque y captura, el juego puede ser declarado
                        empate.
                        Espero que esta lista te sea útil para comprender las reglas del ajedrez de manera más concisa.
                    </li>
                </ul>
                </p>
            </div>
            <figure class="acerca-pic">
                <img src="/static/img/rey_ahogado.png" class="acerca-img">
            </figure>
        </section>
        <section class="tabla-piezas conte">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Pieza</th>
                            <th scope="col">Cantidad en el tablero</th>
                            <th scope="col">Movimientos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <th>Rey</th>
                            <th>1</th>
                            <th>Se mueve una casilla en cualquier dirección.</th>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <th>Reina</th>
                            <th>1</th>
                            <th>Se mueve en línea recta o diagonal a cualquier distancia.</th>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <th>Torre</th>
                            <th>2</th>
                            <th>Se mueve en línea recta horizontal o vertical a cualquier distancia.</th>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <th>Alfil</th>
                            <th>2</th>
                            <th>Se mueve en diagonal a cualquier distancia.</th>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <th>Caballo</th>
                            <th>2</th>
                            <th>Se mueve en forma de "L" (dos casillas en una dirección y luego una casilla en un ángulo
                                de 90 grados, o viceversa).</th>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <th>Peon</th>
                            <th>8</th>
                            <th>Se mueve una casilla hacia adelante, pero captura en diagonal. En su primer movimiento,
                                puede avanzar dos casillas.</th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>
        <section class="galeria-retro conte" id="piezas-aje">
            <h2>Piezas que se usan en el tablero</h2>
            <div class="conten conte">
                <article class="fotos-ajedrez">
                    <img src="/static/img/reina.png">
                    <div class="hover-galeria">
                        <h2>Reina</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="/static/img/rey.png">
                    <div class="hover-galeria">
                        <h2>Rey</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="/static/img/alfil.png">
                    <div class="hover-galeria">
                        <h2>Alfil</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="/static/img/caba.png">
                    <div class="hover-galeria">
                        <h2>Caballo</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="/static/img/peon.png">
                    <div class="hover-galeria">
                        <h2>Peon</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez" id="torre">
                    <img src="/static/img/torre.png">
                    <div class="hover-galeria">
                        <h2>Torre</h2>
                    </div>
                </article>

            </div>

        </section>
    </section>


    <section class="contenidoC conte">
        <div class="contenedor-contenidoC">
            <h2 class="tituloC">Libros</h2>
            <p class="parrafoC">
                Usar libros de aprendizaje del ajedrez puede ser una excelente manera de mejorar tus habilidades y
                comprensión del juego. Aquí tienes algunas recomendaciones para aprovechar al máximo tus libros de
                ajedrez:

            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul>
                            <li><span>Libros para Principiantes:</span> Estos libros están diseñados para aquellos que
                                están
                                empezando a jugar
                                ajedrez. Cubren los conceptos básicos, como el movimiento de las piezas, las reglas del
                                juego y
                                algunas tácticas sencillas.</li>
                            <li><span>Libros de Aperturas:</span> Estos libros se centran en las primeras jugadas del
                                juego,
                                conocidas como
                                aperturas. Proporcionan información sobre diferentes aperturas, sus objetivos y las
                                ideas detrás de
                                cada una. También pueden incluir recomendaciones sobre cómo enfrentar las aperturas más
                                comunes.
                            </li>
                            <li><span>Libros de Tácticas:</span> Estos libros se enfocan en mejorar tus habilidades
                                tácticas, como
                                combinaciones,
                                ataques y defensas. Suelen incluir ejercicios y problemas para resolver, lo que ayuda a
                                desarrollar
                                la capacidad de reconocer patrones tácticos en el tablero.</li>

                            <li><span>Libros de Estrategia:</span> Estos libros se adentran en conceptos estratégicos
                                más profundos,
                                como la
                                planificación a largo plazo, la estructura de peones, el control del centro y la
                                evaluación de
                                posiciones. Ayudan a los jugadores a entender cómo desarrollar planes y tomar decisiones
                                estratégicas en el juego.
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><span>Libros para Principiantes:</span> Estos libros están diseñados para aquellos que
                                están
                                empezando a jugar
                                ajedrez. Cubren los conceptos básicos, como el movimiento de las piezas, las reglas del
                                juego y
                                algunas tácticas sencillas.</li>
                            <li><span>Libros de Aperturas:</span> Estos libros se centran en las primeras jugadas del
                                juego,
                                conocidas como
                                aperturas. Proporcionan información sobre diferentes aperturas, sus objetivos y las
                                ideas detrás de
                                cada una. También pueden incluir recomendaciones sobre cómo enfrentar las aperturas más
                                comunes.
                            </li>
                            <li><span>Libros de Tácticas:</span> Estos libros se enfocan en mejorar tus habilidades
                                tácticas, como
                                combinaciones,
                                ataques y defensas. Suelen incluir ejercicios y problemas para resolver, lo que ayuda a
                                desarrollar
                                la capacidad de reconocer patrones tácticos en el tablero.</li>

                            <li><span>Libros de Estrategia:</span> Estos libros se adentran en conceptos estratégicos
                                más profundos,
                                como la
                                planificación a largo plazo, la estructura de peones, el control del centro y la
                                evaluación de
                                posiciones. Ayudan a los jugadores a entender cómo desarrollar planes y tomar decisiones
                                estratégicas en el juego.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </p>
        </div>
        <section class="galeria-retro conte">
            <h2>Algunos libros que pueden servirte de ayuda</h2>
            <div class="conten conte">
                <article class="fotos-ajedrez">
                    <img src="/static/img/libro1.jpg">
                    <div class="hover-galeria">
                        <h2>Ajedrez para principiantes</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="/static/img/libro2.jpg">
                    <div class="hover-galeria">
                        <h2>Libro para niños</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="/static/img/libro3.jpg">
                    <div class="hover-galeria">
                        <h2>El gran libro de Ajedrez</h2>
                    </div>
                </article>
                <article class="fotos-ajedrez">
                    <img src="/static/img/libro4.jpg">
                    <div class="hover-galeria">
                        <h2>Les grand maistres</h2>
                    </div>
                </article>
            </div>

        </section>
        </div>
    </section>

    </section>
    <footer>
        <img src="/static/img/logora.png" class="logora" alt="">
        <div class="social-icon-container">
            <a href="" class="social-icon"></a>
            <a href="" class="social-icon"></a>
            <a href="" class="social-icon"></a>
            <a href="" class="social-icon"></a>
        </div>
        <ul class="footer-menu-container">
            <li class="menu-item">Raymond García</li>
            <li class="menu-item">Project 0</li>
            <li class="menu-item">WEB50 Managua - Nicaragua</li>
        </ul>
        <span class="copyright">&copy;RGarcía - WEB50, Managua - Nicaragua 2023</span>
    </footer>
</body>

</html>